/* whole container */
.photo-gallery{
    display: grid;
    grid-template-columns: 4fr 2fr;
}

/* photos section */
.photos-section{
    background-color: rgb(248, 248, 248);
    padding: 10px 30px;
    border-right: solid rgb(243, 243, 243);
}

.navbar{
    padding-bottom: 10px;
    border-bottom: solid rgb(235, 235, 235);
}

/* .nav-link.active{
    color: blueviolet;
    border-bottom: solid blueviolet;
} */

.navbar a{
    color: gray;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
    padding-bottom: 10px;
}


/* details section */
.photo-details{
    padding: 10px 30px;
}